
#slogan{
	text-align:center ;
	font-size:6em;
	color: #000;
}

body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
	color: rgb(102, 102, 102);
	overflow-x: hidden
}
  
/**底部**/
.footer {
		padding-top: 22px;
		color: #1c2528;
		position: absolute;
		bottom: 0;
		background: #f2f2f2;
		width:100%;
		height:150px;
		z-index: 0;
}
.footer .footer-v{
	/* margin: 1010px 0 px;
	padding: 0px 15px; */

}
.footer .footer-r{
	margin-top:10px 10px 10px 10px;
}
.footer .footer-v dt{	
	font-size: 16px;
	color: #333;
	text-align: center;
	margin: 30px 20px;

}
.footer .footer-r dt{	

	text-align: center;

}
a.copyright {
	font-size: 14px;
	color:#666;
	margin: 0px  20px;
}
a.footer-link {
 color:#333;
 margin:0 30px;
}
#github{
	/* position: fixed; top: 0; right: 0; border: 0; z-index: 1; */
     background-image: "http://images.cnblogs.com/cnblogs_com/jackson0714/779808/o_github.png";
	
}
a{text-decoration:none}
/* a.footer-link:hover {
	color:#666;
} */







  